{% extends 'SupermarketBundle:Admin:index.html.twig' %}

{% block title %}{{ 'admin.edit.title2'|trans }}{% endblock title %}

{% block content %}
    <div class="container" style="width: 50%">
        <h2>{{ 'admin.edit.title'|trans }} #{{ receipt.id }}</h2>
        <form class="form-horizontal" method="post" action="{{ path('backend_receipt_edit', {'id': receipt.id}) }}">
            <div class="input-group input-group-lg">
                <label class="radio-inline"><input type="radio" name="validate" value="1}"
                                                   {% if receipt.validate == 1 %}checked{% endif %}>{{ 'admin.edit.valid.yes'|trans }}
                </label>
                <label class="radio-inline"><input type="radio" name="validate" value="0"
                                                   {% if receipt.validate == 0 %}checked{% endif %}>{{ 'admin.edit.valid.no'|trans }}
                </label>
            </div>
            <div class="input-group input-group-lg">
                <span class="input-group-addon">{{ 'admin.edit.user_id'|trans }}</span>
                <input type="number" class="form-control" placeholder="{{ receipt.userID }}"
                       aria-describedby="sizing-addon1" name="user_id" value="{{ receipt.userID }}">
            </div>
            <div class="input-group input-group-lg">
                <span class="input-group-addon">{{ 'admin.edit.address.delivery'|trans }}</span>
                <input type="text" class="form-control" placeholder="{{ receipt.delivery }}"
                       aria-describedby="sizing-addon1" name="delivery" value="{{ receipt.delivery }}">
            </div>
            <div class="input-group input-group-lg">
                <span class="input-group-addon">{{ 'admin.edit.address.billing'|trans }}</span>
                <input type="text" class="form-control" placeholder="{{ receipt.billing }}"
                       aria-describedby="sizing-addon1" name="billing" value="{{ receipt.billing }}">
            </div>

            <div class="row">
            <table class="table table-responsive table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>{{ 'history.picture'|trans }}</th>
                    <th>{{ 'history.modal.name'|trans }}</th>
                    <th>{{ 'history.modal.price'|trans }}</th>
                    <th>{{ 'history.modal.quantity'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for article in receipt.content %}
                    <tr class="history">
                        <td>{{ article.id }}</td>
                        <td><img src="{{ article.media.images.0.thumbnailHdUrl }}" /></td>
                        <td><a href="{{ path('single', {'id': article.id }) }}">{{ article.name }}</a></td>
                        <td>{{ article.units.0.price.formatted }}</td>
                        <td style="text-align: right">
                            <input type="number" min="1" class="form-control form_quantity"
                                   data-url="{{ path('backend_increase') }}"
                                   data-id="{{ article.id }}"
                                   data-receipt="{{ receipt.id }}"
                                   value="{{ article.season }}"/>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            </div>
            <div class="row">
            <div class="input-group">
                <input type="submit" class="btn btn-success pull-right" value="{{ 'admin.edit.submit'|trans }}">
            </div>
            </div>
        </form>
    </div>
{% endblock content %}