{% extends 'SupermarketBundle:Admin:index.html.twig' %}

{% block title %}{{ 'admin.user.title'|trans }}{% endblock title %}

{% block action %}{{ path('backend_search_user') }}{% endblock %}
{% block placeholder %}{{ 'admin.search.user'|trans }}{% endblock %}

{% block content %}
    <table class="table table-responsive table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>{{ 'admin.user.user'|trans }}</th>
            <th>{{ 'admin.user.mail'|trans }}</th>
            <th>{{ 'admin.user.delivery'|trans }}</th>
            <th>{{ 'admin.user.billing'|trans }}</th>
            <th>{{ 'admin.user.last_login'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr class="history">
                <td>{{ user.id }}</td>
                <td><a href="{{ path('backend_user_receipts', {'id': user.id }) }}">{{ user.lastName }} {{ user.firstName }}</a></td>
                <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
                <td class="moda-max-width">{{ user.delivery }}</td>
                <td class="moda-max-width">{{ user.billing }}</td>
                <td>{{ user.lastLogin|date("d/m/Y") }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock content %}