{% extends 'SupermarketBundle:Admin:index.html.twig' %}

{% block title %}{{ 'admin.user.title'|trans }}{% endblock title %}

{% block action %}{{ path('backend_search_user') }}{% endblock %}
{% block placeholder %}{{ 'admin.search.user'|trans }}{% endblock %}

{% block content %}
    <table class="table table-responsive table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>{{ 'admin.user.last'|trans }}</th>
            <th>{{ 'admin.user.first'|trans }}</th>
            <th>{{ 'admin.user.mail'|trans }}</th>
            <th>{{ 'admin.user.delivery'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr class="history">
                <td>{{ user.id }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.firstName }}</td>
                <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
                <td>{{ user.delivery }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock content %}