{% extends 'SupermarketBundle:Admin:index.html.twig' %}

{% block title %}{{ 'admin.search.receipt'|trans }}

{% block action %}{{ path('backend_search_user') }}{% endblock %}
{% block placeholder %}{{ 'admin.search.user'|trans }}{% endblock %}

{% block content %}
    {% if users|length > 0 %}
        <table class="table table-responsive table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>{{ 'admin.user.last'|trans }}</th>
                <th>{{ 'admin.user.first'|trans }}</th>
                <th>{{ 'admin.user.mail'|trans }}</th>
                <th>{{ 'admin.user.delivery'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr class="history">
                    <td>{{ user.id }}</td>
                    <td>{{ user.last_name }}</td>
                    <td>{{ user.first_name }}</td>
                    <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
                    <td>{{ user.delivery }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h3>{{ 'admin.results'|trans }} "{{app.request.query.get("query")}}"</h3>
        <p>{{ 'admin.empty'|trans }}</p>
    {% endif %}
{% endblock content %}