{% extends 'SupermarketBundle::layout.html.twig' %}

{% block title %}{{ 'history.title'|trans }}{% endblock %}

{% block breadcrumbs_title %}{{ parent() }}
    <li class="active">{{ 'history.title'|trans }}</li>
{% endblock %}

{% block body %}
    <div class="checkout">
        {% if receipts|length > 0 %}
            <div class="container">
                <div class="row">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>{{ 'history.date'|trans }}</th>
                            <th>{{ 'history.delivery'|trans }}</th>
                            <th>{{ 'history.content'|trans }}</th>
                            <th>{{ 'history.total'|trans }}</th>
                            <th>{{ 'history.eta'|trans }}</th>
                            <th>{{ 'history.download.title'|trans }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for receipt in receipts %}
                            <tr>
                                <td>{{ receipt.id }}</td>
                                <td>{{ receipt.date|date("d/m/Y") }}</td>
                                <td class="moda-max-width">
                                    <address>{{ receipt.delivery }}</address>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-default" data-toggle="modal"
                                            data-target="#modal_{{ receipt.id }}">{{ 'history.view'|trans }}</button>
                                </td>
                                <td>{{ receipt.total }} €</td>
                                <td>
                                    {% if receipt.validate == 0 %}
                                        {{ 'history.pending'|trans }} <span class="glyphicon glyphicon-refresh"></span>
                                    {% else %}
                                        {{ 'history.valid'|trans }} <span
                                            class="glyphicon glyphicon glyphicon-ok" style="color: green"></span>
                                    {% endif %}
                                </td>
                                <td><a target="_blank" href="{{ path('backend_download',{'id': receipt.id, 'date': receipt.date|date("d_m_Y") }) }}" type="button" class="btn btn-default">{{ 'history.download.pdf'|trans }}</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% for receipt in receipts %}
                    <div id="modal_{{ receipt.id }}" class="modal fade" role="dialog">
                        <div class="modal-dialog modal-lg">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">{{ 'history.modal.header'|trans }} #{{ receipt.id }}</h4>
                                </div>
                                <div class="modal-body">
                                    <table class="table table-responsive table-hover">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>{{ 'history.picture'|trans }}</th>
                                            <th>{{ 'history.modal.name'|trans }}</th>
                                            <th>{{ 'history.modal.price'|trans }}</th>
                                            <th>{{ 'history.modal.quantity'|trans }}</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for article in receipt.content %}
                                            <tr class="history">
                                                <td>{{ article.id }}</td>
                                                <td><img src="{{ article.media.images.0.thumbnailHdUrl }}" /></td>
                                                <td><a href="{{ path('single', {'id': article.id }) }}">{{ article.name }}</a></td>
                                                <td>{{ article.units.0.price.formatted }}</td>
                                                <td>{{ article.season }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default"
                                            data-dismiss="modal">{{ 'history.modal.close'|trans }}</button>
                                </div>
                            </div>

                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="container">
                <div class="row">
                    <p>{{ 'history.empty'|trans }}</p>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}