{% extends 'SupermarketBundle::base.html.twig' %}

{% block body %}
    <!-- top-brands -->
    <div class="top-brands">
        <div class="container">
            <h2>{{ 'index.top_selling'|trans }}</h2>
            <div class="grid_3 grid_5">
                <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
                    <ul id="myTab" class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#expeditions" id="expeditions-tab" role="tab"
                                                                  data-toggle="tab" aria-controls="expeditions"
                                                                  aria-expanded="true">{{ 'offer.men'|trans }}</a></li>
                        <li role="presentation"><a href="#tours" role="tab" id="tours-tab" data-toggle="tab"
                                                   aria-controls="tours">{{ 'offer.women'|trans }}</a></li>
                    </ul>
                    <div id="myTabContent" class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="expeditions"
                             aria-labelledby="expeditions-tab">
                            <div class="agile_top_brands_grids">
                                {% for key, arti in mens %}
                                    {% if key < 3 %}
                                        <div class="col-md-4 top_brand_left">
                                            <div class="hover14 column">
                                                <div class="agile_top_brand_left_grid">
                                                    <div class="agile_top_brand_left_grid1">
                                                        <figure>
                                                            <div class="snipcart-item block">
                                                                <div class="snipcart-thumb">
                                                                    <a href="{{ path('single', { 'id': arti.id }) }}">
                                                                        <img title="{{ arti.name }}"
                                                                             alt="{{ arti.name }}"
                                                                             src="{{ arti.media.images.0.smallUrl }}">
                                                                    </a>
                                                                    <p>{{ arti.name }}</p>
                                                                    <h4>
                                                                        {{ arti.units.0.price.formatted }}
                                                                        {% if arti.units.0.originalPrice.formatted and arti.units.0.price.formatted != arti.units.0.originalPrice.formatted %}
                                                                            <span>{{ arti.units.0.originalPrice.formatted }}</span>
                                                                        {% endif %}
                                                                    </h4>
                                                                </div>
                                                                <div class="snipcart-details top_brand_home_details">
                                                                    <form action="{{ path('cart_add') }}" method="post"
                                                                          id="add-to-cart">
                                                                        <fieldset>
                                                                            <input type="hidden" name="quantity"
                                                                                   value="1">
                                                                            <input type="hidden" name="id"
                                                                                   value="{{ arti.id }}">
                                                                            <input type="submit" name="submit"
                                                                                   value="{{ 'article.add_cart'|trans }}"
                                                                                   class="button">
                                                                        </fieldset>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </figure>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                                <div class="clearfix"></div>
                            </div>
                            <div class="agile_top_brands_grids">
                                {% for key, arti in mens %}
                                    {% if key >= 3  and key < 6 %}
                                        <div class="col-md-4 top_brand_left">
                                            <div class="hover14 column">
                                                <div class="agile_top_brand_left_grid">
                                                    <div class="agile_top_brand_left_grid1">
                                                        <figure>
                                                            <div class="snipcart-item block">
                                                                <div class="snipcart-thumb">
                                                                    <a href="{{ path('single', { 'id': arti.id }) }}">
                                                                        <img title="{{ arti.name }}"
                                                                             alt="{{ arti.name }}"
                                                                             src="{{ arti.media.images.0.smallUrl }}">
                                                                    </a>
                                                                    <p>{{ arti.name }}</p>
                                                                    <h4>
                                                                        {{ arti.units.0.price.formatted }}
                                                                        {% if arti.units.0.originalPrice.formatted and arti.units.0.price.formatted != arti.units.0.originalPrice.formatted %}
                                                                            <span>{{ arti.units.0.originalPrice.formatted }}</span>
                                                                        {% endif %}
                                                                    </h4>
                                                                </div>
                                                                <div class="snipcart-details top_brand_home_details">
                                                                    <form action="{{ path('cart_add') }}" method="post"
                                                                          id="add-to-cart">
                                                                        <fieldset>
                                                                            <input type="hidden" name="quantity"
                                                                                   value="1">
                                                                            <input type="hidden" name="id"
                                                                                   value="{{ arti.id }}">
                                                                            <input type="submit" name="submit"
                                                                                   value="{{ 'article.add_cart'|trans }}"
                                                                                   class="button">
                                                                        </fieldset>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </figure>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="tours" aria-labelledby="tours-tab">
                            <div class="agile_top_brands_grids">
                                {% for key, arti in womens %}
                                    {% if key < 3 %}
                                        <div class="col-md-4 top_brand_left">
                                            <div class="hover14 column">
                                                <div class="agile_top_brand_left_grid">
                                                    <div class="agile_top_brand_left_grid1">
                                                        <figure>
                                                            <div class="snipcart-item block">
                                                                <div class="snipcart-thumb">
                                                                    <a href="{{ path('single', { 'id': arti.id }) }}">
                                                                        <img title="{{ arti.name }}"
                                                                             alt="{{ arti.name }}"
                                                                             src="{{ arti.media.images.0.smallUrl }}">
                                                                    </a>
                                                                    <p>{{ arti.name }}</p>
                                                                    <h4>
                                                                        {{ arti.units.0.price.formatted }}
                                                                        {% if arti.units.0.originalPrice.formatted and arti.units.0.price.formatted != arti.units.0.originalPrice.formatted %}
                                                                            <span>{{ arti.units.0.originalPrice.formatted }}</span>
                                                                        {% endif %}
                                                                    </h4>
                                                                </div>
                                                                <div class="snipcart-details top_brand_home_details">
                                                                    <form action="{{ path('cart_add') }}" method="post"
                                                                          id="add-to-cart">
                                                                        <fieldset>
                                                                            <input type="hidden" name="quantity"
                                                                                   value="1">
                                                                            <input type="hidden" name="id"
                                                                                   value="{{ arti.id }}">
                                                                            <input type="submit" name="submit"
                                                                                   value="{{ 'article.add_cart'|trans }}"
                                                                                   class="button">
                                                                        </fieldset>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </figure>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                                <div class="clearfix"></div>
                            </div>
                            <div class="agile_top_brands_grids">
                                {% for key, arti in womens %}
                                    {% if key >= 3 %}
                                        <div class="col-md-4 top_brand_left">
                                            <div class="hover14 column">
                                                <div class="agile_top_brand_left_grid">
                                                    <div class="agile_top_brand_left_grid1">
                                                        <figure>
                                                            <div class="snipcart-item block">
                                                                <div class="snipcart-thumb">
                                                                    <a href="{{ path('single', { 'id': arti.id }) }}">
                                                                        <img title="{{ arti.name }}"
                                                                             alt="{{ arti.name }}"
                                                                             src="{{ arti.media.images.0.smallUrl }}">
                                                                    </a>
                                                                    <p>{{ arti.name }}</p>
                                                                    <h4>
                                                                        {{ arti.units.0.price.formatted }}
                                                                        {% if arti.units.0.originalPrice.formatted and arti.units.0.price.formatted != arti.units.0.originalPrice.formatted %}
                                                                            <span>{{ arti.units.0.originalPrice.formatted }}</span>
                                                                        {% endif %}
                                                                    </h4>
                                                                </div>
                                                                <div class="snipcart-details top_brand_home_details">
                                                                    <form action="{{ path('cart_add') }}" method="post"
                                                                          id="add-to-cart">
                                                                        <fieldset>
                                                                            <input type="hidden" name="quantity"
                                                                                   value="1">
                                                                            <input type="hidden" name="id"
                                                                                   value="{{ arti.id }}">
                                                                            <input type="submit" name="submit"
                                                                                   value="{{ 'article.add_cart'|trans }}"
                                                                                   class="button">
                                                                        </fieldset>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </figure>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ render(controller('SupermarketBundle:Brands:draw')) }}
{% endblock %}