<div class="products">
    <div class="container">
        {{ render(controller('SupermarketBundle:Categories:side')) }}
        <div class="col-md-8 products-right">
            <div class="products-right-grid">
                <div class="products-right-grids">
                    {#<div class="sorting">
                        <select id="country" onchange="change_country(this.value)" class="frm-field required sect">
                            <option value="null">Default sorting</option>
                            <option value="null">Sort by popularity</option>
                            <option value="null">Sort by average rating</option>
                            <option value="null">Sort by price</option>
                        </select>
                    </div>#}
                    <div class="sorting-left">
                        <select id="country1" onchange="changePageSize('{{ path(app.request.attributes.get("_route"), {'name': app.request.get('name')}) }}', this.value)" class="frm-field required sect">
                                <option value="25">{{ 'view_list.item_per_page'|trans({'%number%': 25}) }}</option>
                                <option value="50">{{ 'view_list.item_per_page'|trans({'%number%': 50}) }}</option>
                                <option value="100">{{ 'view_list.item_per_page'|trans({'%number%': 100}) }}</option>
                            </select>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            {% for key,arti in articles %}
                <div class="agile_top_brands_grids">
                    <div class="col-md-4 top_brand_left">
                        <div class="hover14 column">
                            <div class="agile_top_brand_left_grid">
                                <div class="agile_top_brand_left_grid_pos">
                                    <img src="{{ asset('bundles/supermarket//images/offer.png') }}" alt=" "
                                         class="img-responsive">
                                </div>
                                <div class="agile_top_brand_left_grid1">
                                    <figure>
                                        <div class="snipcart-item block">
                                            <div class="snipcart-thumb" style="height: 290PX">
                                                <a href="{{ path('single', { 'id': arti.id }) }}">
                                                    <img title="{{ arti.name }}" alt="{{ arti.name }}"
                                                         src="{{ arti.media.images.0.smallUrl }}">
                                                </a>
                                                <p>{{ arti.name }}</p>
                                                <h4>
                                                    {{ arti.units.0.price.formatted }}
                                                    {% if arti.units.0.originalPrice.formatted and arti.units.0.price.formatted != arti.units.0.originalPrice.formatted %}
                                                        <span>{{ arti.units.0.originalPrice.formatted }}</span>
                                                    {% endif %}
                                                </h4>
                                            </div>
                                            <div class="snipcart-details top_brand_home_details">
                                                <form action="{{ path('cart_add') }}" method="post" id="add-to-cart">
                                                    <fieldset>
                                                        <input type="hidden" name="quantity" value="1">
                                                        <input type="hidden" name="id" value="{{ arti.id }}">
                                                        <input type="submit" name="submit" value="{{ 'article.add_cart'|trans }}"
                                                               class="button">
                                                    </fieldset>
                                                </form>
                                            </div>
                                        </div>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if (key + 1) is divisible by(3) %}
                    <div class="clearfix"></div>
                {% endif %}
            {% endfor %}
        </div>
        <nav class="numbering">
            <ul class="pagination paging">
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">«</span>
                    </a>
                </li>
                {% if app.request.attributes.get("_route") == 'magasin' %}
                    <li class="active"><a href="{{ path(app.request.attributes.get("_route"), {'page' : 1}) }}">1<span
                                    class="sr-only">(current)</span></a></li>
                    {% for i in 0..10 %}
                        {% if not i == 0 %}
                            <li>
                                <a href="{{ path(app.request.attributes.get("_route"), {'page' : i + 1}) }}">{{ i + 1 }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <li class="active"><a
                                href="{{ path(app.request.attributes.get("_route"), {'page' : 1, 'name' : app.request.get('name')}) }}">1<span
                                    class="sr-only">(current)</span></a></li>
                    {% for i in 0..5 %}
                        {% if not i == 0 %}
                            <li>
                                <a href="{{ path(app.request.attributes.get("_route"), {'page' : i + 1, 'name' : app.request.get('name')}) }}">{{ i + 1 }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">»</span>
                    </a>
                </li>
            </ul>
        </nav>
        <div class="clearfix"></div>
    </div>
</div>