{% trans_default_domain 'FOSUserBundle' %}

<div class="register">
    <div class="container">
        <h2>{{ 'registration.title'|trans }}</h2>
        <div class="login-form-grids">
            <h5>{{ 'registration.profile'|trans }}</h5>
            {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
            {{ form_widget(form.lastName, {'attr': { 'placeholder': 'form.lastname'} }) }}
            {{ form_widget(form.firstName, {'attr': { 'placeholder': 'form.firstname'} }) }}
            <h6>{{ 'registration.login'|trans }}</h6>
            {{ form_widget(form.username, {'attr': { 'placeholder': 'form.username'} }) }}
            {{ form_widget(form.email, {'attr': { 'placeholder': 'form.email'} }) }}
            {{ form_widget(form.plainPassword.first, {'attr': { 'placeholder': 'form.password'} }) }}
            {{ form_widget(form.plainPassword.second, {'attr': { 'placeholder': 'form.password_confirmation'} }) }}
            {{ form_widget(form.delivery, {'attr': { 'placeholder': 'form.delivery'} }) }}
            {{ form_widget(form.billing, {'attr': { 'placeholder': 'form.billing'} }) }}
            <input type="submit" value="{{ 'registration.submit'|trans }}" />
            {{ form_end(form) }}
        </div>
        <div class="register-home">
            <a href="{{ path('homepage') }}">{{ 'registration.home'|trans }}</a>
        </div>
    </div>
</div>
