{% trans_default_domain 'FOSUserBundle' %}

<div class="login">
    <div class="container">
        <h2>{{ 'security.login.login'|trans }}</h2>
        <div class="login-form-grids animated wow slideInUp" data-wow-delay=".5s">
            <form action="{{ path("fos_user_security_check") }}" method="post">
                {% if csrf_token %}
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                {% endif %}

                <label for="username">{{ 'security.login.username'|trans }}</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />

                <label for="password">{{ 'security.login.password'|trans }}</label>
                <input type="password" id="password" name="_password" required="required" />

                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>

                <div class="forgot">
                    <a href="#">{{ 'security.login.forget'|trans }}?</a>
                </div>

                <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
            </form>
            {% if error %}
                <div style="text-align: center">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
        </div>
    </div>
    <h4>{{ 'security.login.new'|trans }}</h4>
    <p><a href="{{ path("fos_user_registration_register") }}">{{ 'security.login.register'|trans }}</a> {{ 'security.login.go_back'|trans }}<a href="{{ path('homepage') }}">{{ 'security.login.home'|trans }}<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a></p>
</div>
