<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ 'pdf.title'|trans }} #{{ receipt.Id }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
        body {
            margin-top: 20px;
        }
    </style>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <address style="max-width: 210px;">
                <strong>{{ user.firstName }} {{ user.lastName }}</strong>
                <br>
                <br>
                <strong>{{ 'pay.delivery'|trans }}</strong>
                <br>
                {{ user.delivery }}
                <br>
                <strong>{{ 'pay.billing'|trans }}</strong>
                <br>
                {{ user.billing }}
            </address>
            <h4><a href="{{ url('homepage') }}">{{ url('homepage') }}</a></h4>
        </div>
        <div class="col-md-6 text-right">
            <p>
                <em>Date: {{ "now"|date("d/m/Y") }}</em>
            </p>
            <p>
                <em>{{ 'pay.numer'|trans }} : #{{ receipt.Id }} </em>
            </p>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="row">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>{{ 'pay.product'|trans }}</th>
                <th>{{ 'pay.quantity'|trans }}</th>
                <th class="text-center">{{ 'pay.price'|trans }}</th>
                <th class="text-center">Total</th>
            </tr>
            </thead>
            <tbody>
            {% set total = 0 %}
            {% for article in articles %}
                {% set total = total + article.season * article.units.0.price.formatted %}
                <tr>
                    <td class="col-md-9"><em>{{ article.name }}</em></td>
                    <td class="col-md-1" style="text-align: center"> {{ article.season }} </td>
                    <td class="col-md-1 text-center">{{ article.units.0.price.formatted }}</td>
                    <td class="col-md-1 text-center">{{ article.season * article.units.0.price.formatted }}
                        €
                    </td>
                </tr>
            {% endfor %}
            <tr></tr>
            <tr>
                <td>  </td>
                <td>  </td>
                <td class="text-right"><h4><strong>Total: </strong></h4></td>
                <td class="text-center text-danger"><h5><strong>{{ total }} €</strong></h5></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>